/* * {
  box-sizing: border-box;
}  */


@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Exo:wght@500;800&family=Mochiy+Pop+P+One&family=Poppins:wght@400;600&family=Press+Start+2P&display=swap');

:root {
  --primary-text-color: hsl(30, 100%, 98%);
  --navigation-text-color: hsla(209, 70%, 46%, 0.78);
  --navigation-hover-color: hsl(61, 61%, 56%);
  --title-background-color: hsl(225, 100%, 8%);
  --title-background-color2: hsla(209, 86%, 23%, 0.78);
  --title-border-color: hsl(212, 61%, 25%);
  --title-shadow-color: hsla(239, 100%, 25%, 0.38);
  --glow-color: hsla(61, 91%, 59%, 0.71);
  --font-title: 'Bungee', cursive;
  --font-text: 'Exo', sans-serif;
  --text-shadow: hsl(0, 0%, 79%);
}

/*==============================
    Element Styling
================================*/

h1 {
  margin: 10px;
  padding: 5px;
}

p {
  text-align: justify;
  color: var(--primary-text-color);
  width: auto;
  font-family: var(--font-text);
  padding: 10px;
  margin: 10px 5px 10px 5px;
}

/*==============================
    Base Styles
================================*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  /* background: #121820; */
  background-image:
    linear-gradient(180deg,
      hsl(220deg 100% 1%) 0%,
      hsl(235deg 98% 20%) 17%,
      hsl(221deg 91% 22%) 32%,
      hsl(228deg 83% 19%) 47%,
      hsl(257deg 83% 23%) 65%,
      hsl(258deg 94% 51%) 100%);
}

.job {
  color: var(--primary-text-color);
  font-family: var(--font-title);
  font-size: 30px;
  text-shadow: 0 0 18px #a8a8a8;
  transition: 1000ms ease-in-out;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

/* keyframes for fade in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.job:hover {
  text-shadow: 0 0 18px var(--glow-color);
}

.link {
  font-size: 50px;
  font-family: var(--font-text);
  font-weight: bold;
  border-radius: 40%;
  text-decoration: none;
  color: var(--navigation-text-color);
  margin: 10px;
  transition: 1000ms ease-in-out;
}

.link:hover {
  color: var(--navigation-hover-color);
  text-shadow: 0 0 18px var(--glow-color);
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 1000px;
  opacity: 0.25;
}

.nebula {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 1300px;
  opacity: 0.33;
}


.card-intro {
  margin: 30px;
  padding: 20px;
  min-width: 100%;
  text-align: center;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.name-title {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  background-image: radial-gradient(rgba(8, 60, 109, 0.781), #000a2771);
  border: 5px inset var(--title-border-color);
  width: 250px;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 50px;
  transform: skew(10deg);
  box-shadow: 2px 2px 10px 5px var(--title-shadow-color);
  text-shadow: 0 0 18px var(--text-shadow);
  transition: 1.0s;
}

.greeting {
  color: var(--primary-text-color);
  margin: 10px;

}

.hidden {
  display: none;
}

.picofnick {
  border-radius: 50%;
  height: 150px;
  width: 150px;

}

.name {
  /*//setting the net skew angle to 0 */
  transform: skew(-10deg);
  font-size: 45px;
  font-family: var(--font-title);
  color: var(--primary-text-color);
  opacity: 1;
  padding: 10px;
  text-shadow: 0 0 100px #ffffff;
  transition: 1000ms ease-in-out;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#right-arrow,
#left-arrow {
  height: 50px;
  width: 50px;
}

.arrow:hover {
  cursor: pointer;
}

.intro-text {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  text-align: center;
}


.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
}

.nav li {
  margin: 50px;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  list-style-type: none;
}

.profile-image {
  width: 100px;
  height: 150px;
}

.social-svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 5px;
  text-shadow: 0 0 18px #a8a8a8;
  transition: 1000ms ease-in-out;
}

.social-svg:hover {
  background-color: var(--glow-color);
  box-shadow: 0px 0px 50px 5px var(--glow-color);
}

.octocat {
  border-radius: 50%;
}

.copyright {
  text-align: center;
  margin-top: 50px;
}

/*==============================
    Base Layout
================================*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.25fr 0.5fr;
  gap: 15px 15px;
}

.card-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 56px;
}

.foot-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*==============================
    Media Queries
================================*/

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "card-1"
      "footer";
  }

  .header {
    grid-area: header;
  }

  .card-1 {
    grid-area: card-1;
  }

  .footer {
    grid-area: footer;
  }

  .profile-image {
    width: 200px;
    height: 300px;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }


  .foot-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 1300px;
  }

  .nebula {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 760px;
    opacity: 1;
  }

  .name-title {
    width: 500px;
    height: 250px;
  }

  .name {
    font-size: 90px;
  }

  .intro-text {
    margin: 10px 10px 10px 10px;
    width: 500px;
    padding: 10px;
    text-align: center;

  }

  .card-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
  }

  .job {
    font-size: 4rem;
  }

  #right-arrow,
  #left-arrow {
    height: 100px;
    width: 100px;
  }

  #right-arrow,
  #left-arrow:hover {
    cursor: pointer;
  }

}

@media (min-width: 1024px) {
  canvas {
    background: #111;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 1400px;
  }

  .nebula {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 1500px;
    opacity: 0.33;
  }


}